DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
PORT=
CORS_ALLOWED_ORIGINS=
JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
OCR_ENGINE=ocr_space
OCR_SPACE_API_KEY=
FILESTACK_API_KEY=
FILESTACK_POLICY=
FILESTACK_SIGNATURE=
