.layout {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.mainArea {
  flex: 1;
  margin-left: 250px; 
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 250px);
  overflow-x: hidden;
}

.content {
  margin-top: 70px; 
  padding: 24px;
  background-color: #ffffff;
  min-height: calc(100vh - 70px);
  overflow-x: hidden;
}
